@font-face {
    font-family: 'Lexend';
    font-weight: 300;
    font-style: normal;
    src: local('Lexend-Light'), local('Lexend-Light'),
        url('../fonts/lexend/Lexend-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend';
    font-weight: 500;
    font-style: normal;
    src: local('Lexend-Medium'), local('Lexend-Medium'),
        url('../fonts/lexend/Lexend-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend';
    font-weight: 600;
    font-style: normal;
    src: local('Lexend-SemiBold'), local('Lexend-SemiBold'),
        url('../fonts/lexend/Lexend-SemiBold.ttf') format('truetype');
}